{% if not post.reblogged %}
<form hx-post="boost" hx-swap="outerhtml" style="display: inline-block; width: fit-content;">
    <input type="hidden" name="which" value="{{ post.id }}"/>
    <button type="submit">🔁 {{ ui("boost_verbs")|capitalize }}</button>
</form>
{% else %}
<form hx-post="unboost" hx-swap="outerhtml" style="display: inline-block; width: fit-content;">
    <input type="hidden" name="which" value="{{ post.id }}"/>
    <button type="submit" class="activated">🔁 {{ ui("unboost_verbs")|capitalize }}</button>
</form>
{% endif %}