{% include 'header.html' %}
    <div id="text">
        <p>This app allows you to post toots to Mastodon using SMS messages or by calling! It's like twitter back in the day, except better, because it's not twitter!</p>
        <p>Enter your full Mastodon username (user@domain.com) to begin:</p>
        <div style="text-align: center;">
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="halcy@icosahedron.website" style="width: 300px;"></input>
            <button type="submit">Submit</button>
        </form>
        </div>
    </div>
{% include 'footer.html' %}
